In [22]:
import os
import re
import sys
from datetime import datetime as dt
import pandas as pd 
import numpy as np

In [23]:
os.chdir('/Users/chanduboss/Desktop/SUITEAMERICA')
SA_df = pd.read_csv("Ordersdata.csv", header=0)

''''''
for i in range(SA_df.shape[0]):
         print(i)
         print(SA_df.iloc[i][1], type(SA_df.iloc[i][1]))
    
    try:
        obj = dt.strptime(SA_df.iloc[i][1], '%Y-%m-%d')
        print('\t', end='')
        print(obj, end=' ')
        print(type(obj))
        SA_df.iloc[i, 1] = obj
    except:
        
        print(i)
        print(SA_df.iloc[i][1])
        pass
''''''''

In [24]:
print(SA_df)
# [46850 rows x 9 columns]

       Order#  MoveInDate MoveOutDate  DailyRent SuiteSizeCode  Status  \
0      285536  2015-09-14  2015-10-28      254.0           1X1  TERMED
1      289693  2015-10-16  2015-11-14      250.0           1X1  TERMED
2      354867  2018-02-25  2018-03-26        NaN           NaN  CANCEL
3      355682  2018-02-19  2018-03-02      197.0           1X1  TERMED
4      322147  2016-12-17  2017-02-28      148.0           1X1  TERMED
5      305710  2016-05-29  2016-06-27      219.0           1X1  TERMED
6      348736  2017-11-26         NaN        NaN           NaN  CANCEL
7      362371  2018-05-01  2018-05-21      202.0           1X1  ACTIVE
8      361210  2018-05-09  2018-06-07        0.0           NaN  CANCEL
9      326135  2017-03-21  2017-04-15      236.0           2X2  TERMED
10     350055  2017-11-30  2017-12-20      139.0           1X1  TERMED
11     345405  2017-10-28  2017-11-26      214.0           1X1  CANCEL
12     270557  2015-05-06  2015-05-13      195.0           NaN  TERMED
13     314291  2016-07-22  2016-07-22     2025.0           1X1  TERMED
14     263566  2015-01-15  2015-02-09      138.0           1X1  TERMED
15     341832  2017-08-19  2017-11-16      250.0           NaN  CANCEL
16     318877  2016-10-01  2016-10-30      230.0           2X2  TERMED
17     314899  2016-08-04  2016-08-07      182.0           1X1  TERMED
18     296457  2016-01-25  2016-02-23      160.0           1X1  TERMED
19     353983  2018-01-28  2018-02-26        NaN           NaN  CANCEL
20     342937  2017-09-04         NaN        NaN           NaN  CANCEL
21     323558  2017-01-08  2017-02-06      152.0           1X1  TERMED
22     351810  2018-01-08  2018-02-06        NaN           NaN  CANCEL
23     273682  2015-06-13  2015-06-14       75.0           NaN  TERMED
24     355340  2018-02-23  2018-03-24        NaN           NaN  CANCEL
25     358638  2018-03-23  2018-04-21        NaN           NaN  CANCEL
26     362279  2018-05-10  2018-08-19        0.0           NaN  CANCEL
27     288533  2015-09-26  2015-11-08      174.0           2X2  TERMED
28     305108  2016-05-16  2016-08-07        NaN           1X1  TERMED
29     352031  2018-01-20  2018-02-19      110.0           1X1  CANCEL
...       ...         ...         ...        ...           ...     ...
46820  259957  2014-12-09  2015-03-08      225.0           2X2  TERMED
46821  359688  2018-04-20  2018-12-21      211.0           NaN  CANCEL
46822  263455  2015-02-03  2015-03-31      183.0           STU  TERMED
46823  288143  2015-09-14  2015-09-25      159.0           NaN  TERMED
46824  280445  2015-07-24  2015-09-05      231.0           2X2  TERMED
46825  279312  2015-06-27  2015-08-10      157.0           NaN  TERMED
46826  309142  2016-05-27  2016-07-10      287.0           1X1  TERMED
46827  350706  2018-01-04  2018-04-03      202.0           NaN  CANCEL
46828  319245  2016-10-15  2016-11-13      151.0           1X1  TERMED
46829  316653  2016-08-22  2016-08-22     1400.0           1X1  TERMED
46830  356827  2018-03-10  2018-06-07      224.0           NaN  CANCEL
46831  317729  2016-10-07  2016-11-13      185.0           1X1  TERMED
46832  359912  2018-05-01  2018-05-30      162.0           NaN   QUOTE
46833  316006  2016-08-25  2016-10-26      242.0           1X1  TERMED
46834  340835  2017-08-04  2017-08-19      175.0           1X1  CANCEL
46835  296981  2016-01-07  2016-01-07     1000.0           1X1  TERMED
46836  297360  2016-02-10  2016-03-25      273.0           2X2  TERMED
46837  282289  2015-08-09  2015-09-07      295.0           2X2  TERMED
46838  356532  2018-03-10  2018-03-11      112.0           1X1  TERMED
46839  260580  2014-12-07  2015-01-20      199.0           NaN  TERMED
46840  361352  2018-05-29  2018-06-27        0.0           NaN  CANCEL
46841  355480  2018-03-06  2018-04-04      169.0           1X1  TERMED
46842  336951  2017-08-20         NaN      245.0           2X2  CANCEL
46843  359538  2018-04-15  2018-06-15      251.0           NaN  CANCEL
46844  351107  2018-01-11  2018-04-10        NaN           NaN  CANCEL
46845  340797  2017-08-17  2017-09-15      280.0           2X2  CANCEL
46846  357933  2018-07-07         NaN        NaN           NaN  CANCEL
46847  302249  2016-03-28  2016-04-27      121.0           1X1  TERMED
46848  343818  2017-10-04  2017-11-02      179.0           1X1  CANCEL
46849  350757  2017-12-10  2018-03-09      177.0           NaN  CANCEL

       ZoneCode           City  State
0           8.0  SAN FRANCISCO  US-CA
1           8.0  SAN FRANCISCO  US-CA
2           NaN            NaN    NaN
3           7.0      SAN MATEO  US-CA
4          46.0      HILLSBORO  US-OR
5           5.0      CUPERTINO  US-CA
6           NaN            NaN    NaN
7           5.0      SUNNYVALE  US-CA
8           NaN            NaN    NaN
9          26.0     WASHINGTON  US-DC
10          3.0        FREMONT  US-CA
11          5.0      SUNNYVALE  US-CA
12          NaN            NaN    NaN
13          5.0      CUPERTINO  US-CA
14         10.0      ARLINGTON  US-VA
15          NaN            NaN    NaN
16          5.0      CUPERTINO  US-CA
17          5.0      SUNNYVALE  US-CA
18         46.0       PORTLAND  US-OR
19          NaN            NaN    NaN
20          NaN            NaN    NaN
21         46.0       PORTLAND  US-OR
22          NaN            NaN    NaN
23          NaN            NaN    NaN
24          NaN            NaN    NaN
25          NaN            NaN    NaN
26          NaN            NaN    NaN
27         46.0       PORTLAND  US-OR
28          8.0  SAN FRANCISCO  US-CA
29         24.0         RESTON  US-VA
...         ...            ...    ...
46820       5.0      CUPERTINO  US-CA
46821       NaN            NaN    NaN
46822       8.0  SAN FRANCISCO  US-CA
46823       NaN            NaN    NaN
46824       4.0       CAMPBELL  US-CA
46825       NaN            NaN    NaN
46826      16.0   SANTA MONICA  US-CA
46827       NaN            NaN    NaN
46828      10.0      ARLINGTON  US-VA
46829       5.0      CUPERTINO  US-CA
46830       NaN            NaN    NaN
46831       7.0    FOSTER CITY  US-CA
46832       NaN            NaN    NaN
46833       8.0  SAN FRANCISCO  US-CA
46834       3.0        FREMONT  US-CA
46835       5.0      CUPERTINO  US-CA
46836       5.0      CUPERTINO  US-CA
46837       8.0  SAN FRANCISCO  US-CA
46838      27.0     SAN RAFAEL  US-CA
46839       NaN            NaN    NaN
46840       NaN            NaN    NaN
46841       1.0         DUBLIN  US-CA
46842       5.0      CUPERTINO  US-CA
46843       NaN            NaN    NaN
46844       NaN            NaN    NaN
46845       8.0  SAN FRANCISCO  US-CA
46846       NaN            NaN    NaN
46847      46.0       PORTLAND  US-OR
46848       5.0      SUNNYVALE  US-CA
46849       NaN            NaN    NaN

[46850 rows x 9 columns]

In [25]:
columnNames = list(SA_df.columns.values)
print(columnNames)

['Order#', 'MoveInDate', 'MoveOutDate', 'DailyRent', 'SuiteSizeCode', 'Status', 'ZoneCode', 'City', 'State']

In [26]:
SA_df.to_csv('Ordersdata.csv',index=False)
SA_df.describe(include='all')

,Order#,MoveInDate,MoveOutDate,DailyRent,SuiteSizeCode,Status,ZoneCode,City,State
count,46850.000000,46777,43974,41806.000000,35213,46850,35075.000000,35180,35180
unique,NaN,1546,1524,NaN,38,6,NaN,409,46
top,NaN,2018-04-01,2018-06-30,NaN,1X1,TERMED,NaN,CUPERTINO,US-CA
freq,NaN,296,194,NaN,21828,29349,NaN,6376,24298
mean,323875.540406,NaN,NaN,286.298409,NaN,NaN,14.264918,NaN,NaN
std,31611.280139,NaN,NaN,421.372716,NaN,NaN,16.638506,NaN,NaN
min,5012.000000,NaN,NaN,0.000000,NaN,NaN,1.000000,NaN,NaN
25%,298285.250000,NaN,NaN,150.000000,NaN,NaN,5.000000,NaN,NaN
50%,334230.500000,NaN,NaN,192.000000,NaN,NaN,7.000000,NaN,NaN
75%,350816.750000,NaN,NaN,236.000000,NaN,NaN,10.000000,NaN,NaN
max,363867.000000,NaN,NaN,3000.000000,NaN,NaN,77.000000,NaN,NaN

In [27]:
SA_df.info

<bound method DataFrame.info of        Order#  MoveInDate MoveOutDate  DailyRent SuiteSizeCode  Status  \
0      285536  2015-09-14  2015-10-28      254.0           1X1  TERMED
1      289693  2015-10-16  2015-11-14      250.0           1X1  TERMED
2      354867  2018-02-25  2018-03-26        NaN           NaN  CANCEL
3      355682  2018-02-19  2018-03-02      197.0           1X1  TERMED
4      322147  2016-12-17  2017-02-28      148.0           1X1  TERMED
5      305710  2016-05-29  2016-06-27      219.0           1X1  TERMED
6      348736  2017-11-26         NaN        NaN           NaN  CANCEL
7      362371  2018-05-01  2018-05-21      202.0           1X1  ACTIVE
8      361210  2018-05-09  2018-06-07        0.0           NaN  CANCEL
9      326135  2017-03-21  2017-04-15      236.0           2X2  TERMED
10     350055  2017-11-30  2017-12-20      139.0           1X1  TERMED
11     345405  2017-10-28  2017-11-26      214.0           1X1  CANCEL
12     270557  2015-05-06  2015-05-13      195.0           NaN  TERMED
13     314291  2016-07-22  2016-07-22     2025.0           1X1  TERMED
14     263566  2015-01-15  2015-02-09      138.0           1X1  TERMED
15     341832  2017-08-19  2017-11-16      250.0           NaN  CANCEL
16     318877  2016-10-01  2016-10-30      230.0           2X2  TERMED
17     314899  2016-08-04  2016-08-07      182.0           1X1  TERMED
18     296457  2016-01-25  2016-02-23      160.0           1X1  TERMED
19     353983  2018-01-28  2018-02-26        NaN           NaN  CANCEL
20     342937  2017-09-04         NaN        NaN           NaN  CANCEL
21     323558  2017-01-08  2017-02-06      152.0           1X1  TERMED
22     351810  2018-01-08  2018-02-06        NaN           NaN  CANCEL
23     273682  2015-06-13  2015-06-14       75.0           NaN  TERMED
24     355340  2018-02-23  2018-03-24        NaN           NaN  CANCEL
25     358638  2018-03-23  2018-04-21        NaN           NaN  CANCEL
26     362279  2018-05-10  2018-08-19        0.0           NaN  CANCEL
27     288533  2015-09-26  2015-11-08      174.0           2X2  TERMED
28     305108  2016-05-16  2016-08-07        NaN           1X1  TERMED
29     352031  2018-01-20  2018-02-19      110.0           1X1  CANCEL
...       ...         ...         ...        ...           ...     ...
46820  259957  2014-12-09  2015-03-08      225.0           2X2  TERMED
46821  359688  2018-04-20  2018-12-21      211.0           NaN  CANCEL
46822  263455  2015-02-03  2015-03-31      183.0           STU  TERMED
46823  288143  2015-09-14  2015-09-25      159.0           NaN  TERMED
46824  280445  2015-07-24  2015-09-05      231.0           2X2  TERMED
46825  279312  2015-06-27  2015-08-10      157.0           NaN  TERMED
46826  309142  2016-05-27  2016-07-10      287.0           1X1  TERMED
46827  350706  2018-01-04  2018-04-03      202.0           NaN  CANCEL
46828  319245  2016-10-15  2016-11-13      151.0           1X1  TERMED
46829  316653  2016-08-22  2016-08-22     1400.0           1X1  TERMED
46830  356827  2018-03-10  2018-06-07      224.0           NaN  CANCEL
46831  317729  2016-10-07  2016-11-13      185.0           1X1  TERMED
46832  359912  2018-05-01  2018-05-30      162.0           NaN   QUOTE
46833  316006  2016-08-25  2016-10-26      242.0           1X1  TERMED
46834  340835  2017-08-04  2017-08-19      175.0           1X1  CANCEL
46835  296981  2016-01-07  2016-01-07     1000.0           1X1  TERMED
46836  297360  2016-02-10  2016-03-25      273.0           2X2  TERMED
46837  282289  2015-08-09  2015-09-07      295.0           2X2  TERMED
46838  356532  2018-03-10  2018-03-11      112.0           1X1  TERMED
46839  260580  2014-12-07  2015-01-20      199.0           NaN  TERMED
46840  361352  2018-05-29  2018-06-27        0.0           NaN  CANCEL
46841  355480  2018-03-06  2018-04-04      169.0           1X1  TERMED
46842  336951  2017-08-20         NaN      245.0           2X2  CANCEL
46843  359538  2018-04-15  2018-06-15      251.0           NaN  CANCEL
46844  351107  2018-01-11  2018-04-10        NaN           NaN  CANCEL
46845  340797  2017-08-17  2017-09-15      280.0           2X2  CANCEL
46846  357933  2018-07-07         NaN        NaN           NaN  CANCEL
46847  302249  2016-03-28  2016-04-27      121.0           1X1  TERMED
46848  343818  2017-10-04  2017-11-02      179.0           1X1  CANCEL
46849  350757  2017-12-10  2018-03-09      177.0           NaN  CANCEL

       ZoneCode           City  State
0           8.0  SAN FRANCISCO  US-CA
1           8.0  SAN FRANCISCO  US-CA
2           NaN            NaN    NaN
3           7.0      SAN MATEO  US-CA
4          46.0      HILLSBORO  US-OR
5           5.0      CUPERTINO  US-CA
6           NaN            NaN    NaN
7           5.0      SUNNYVALE  US-CA
8           NaN            NaN    NaN
9          26.0     WASHINGTON  US-DC
10          3.0        FREMONT  US-CA
11          5.0      SUNNYVALE  US-CA
12          NaN            NaN    NaN
13          5.0      CUPERTINO  US-CA
14         10.0      ARLINGTON  US-VA
15          NaN            NaN    NaN
16          5.0      CUPERTINO  US-CA
17          5.0      SUNNYVALE  US-CA
18         46.0       PORTLAND  US-OR
19          NaN            NaN    NaN
20          NaN            NaN    NaN
21         46.0       PORTLAND  US-OR
22          NaN            NaN    NaN
23          NaN            NaN    NaN
24          NaN            NaN    NaN
25          NaN            NaN    NaN
26          NaN            NaN    NaN
27         46.0       PORTLAND  US-OR
28          8.0  SAN FRANCISCO  US-CA
29         24.0         RESTON  US-VA
...         ...            ...    ...
46820       5.0      CUPERTINO  US-CA
46821       NaN            NaN    NaN
46822       8.0  SAN FRANCISCO  US-CA
46823       NaN            NaN    NaN
46824       4.0       CAMPBELL  US-CA
46825       NaN            NaN    NaN
46826      16.0   SANTA MONICA  US-CA
46827       NaN            NaN    NaN
46828      10.0      ARLINGTON  US-VA
46829       5.0      CUPERTINO  US-CA
46830       NaN            NaN    NaN
46831       7.0    FOSTER CITY  US-CA
46832       NaN            NaN    NaN
46833       8.0  SAN FRANCISCO  US-CA
46834       3.0        FREMONT  US-CA
46835       5.0      CUPERTINO  US-CA
46836       5.0      CUPERTINO  US-CA
46837       8.0  SAN FRANCISCO  US-CA
46838      27.0     SAN RAFAEL  US-CA
46839       NaN            NaN    NaN
46840       NaN            NaN    NaN
46841       1.0         DUBLIN  US-CA
46842       5.0      CUPERTINO  US-CA
46843       NaN            NaN    NaN
46844       NaN            NaN    NaN
46845       8.0  SAN FRANCISCO  US-CA
46846       NaN            NaN    NaN
46847      46.0       PORTLAND  US-OR
46848       5.0      SUNNYVALE  US-CA
46849       NaN            NaN    NaN

[46850 rows x 9 columns]>

In [28]:
type(SA_df.MoveInDate)

pandas.core.series.Series

In [29]:
SA_df['MoveInDate']= SA_df['MoveInDate'].astype(str)

In [30]:
type(SA_df.MoveInDate)

pandas.core.series.Series

In [31]:
SA_df.MoveInDate= pd.to_datetime(SA_df.MoveInDate)

In [32]:
SA_df.dtypes

Order#                    int64
MoveInDate       datetime64[ns]
MoveOutDate              object
DailyRent               float64
SuiteSizeCode            object
Status                   object
ZoneCode                float64
City                     object
State                    object
dtype: object

In [33]:
SA_df.MoveOutDate= pd.to_datetime(SA_df.MoveOutDate)

In [34]:
SA_df.dtypes

Order#                    int64
MoveInDate       datetime64[ns]
MoveOutDate      datetime64[ns]
DailyRent               float64
SuiteSizeCode            object
Status                   object
ZoneCode                float64
City                     object
State                    object
dtype: object

In [35]:
SA_df.MoveInDate['Month']= SA_df.MoveInDate.dt.month

/Users/chanduboss/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [108]:
SA_df.MoveInDate.strftime('%Y-%m-%d,')

AttributeError: 'Series' object has no attribute 'strftime'

In [109]:
datetime.datetime.strptime(SA_df1, "%Y-%m-%d")

NameError: name 'datetime' is not defined